@model EmployeePower.Models.Tbl_Employee_Login_Details

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tbl_Employee_Login_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emp_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Email_Confirm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Email_Confirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_MobilieNo_Confirm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_MobilieNo_Confirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Alt_MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Alt_MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Password_Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Password_Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Account_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Account_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Updated_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Updated_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Updated_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Updated_Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
